body{
	background-image: url(../img/backgroundImg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* background-color: ; */
	margin: 0;
	/* position: relative;
	min-height: 100vh; */
}

.mainPage{
	width: 70%;
	margin: 0 auto;
	margin-top: 30px;
	overflow: hidden;
	background-color: rgba(65, 156, 212, 0.7);
	/* background-color: rgba(255, 255, 255, 0.7); */
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.title{
    color: white;
	font-size: 60px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	font-family: 华文新魏;
}

.titleLogo{
	background-image: url(../img/149px-罗小黑奔跑.webp);
	background-position: center;
	background-size: 100px;
	width: 60px;
	height: 50px;
	line-height: 60px;
	display: inline-block;
}

nav ul{
	padding: 0;
}

.nav{
    list-style: none;
    float: left;
	width: 20%;
	height: 60px;
	text-align: center;
	font-size: 30px;
	background-color: white;
	display: inline;
	line-height: 60px;
}

.navActive{
	background-color: rgb(65, 156, 212);
}

.nav a:link{
	color: black;
	text-decoration: none;
}

.nav a:visited{
    color: black;
}

.nav a{
	display: block;
}

.nav:hover{
	background-color: gray;
}

.mainLogo{
	width: 500px;
	/* height: 238px; */
	display: block;
	margin: auto;
	/* background-image: url(../img/logo_main.png); */
}

.pageTitle{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 0;
	font-size: 40px;
}

.pageTitle2{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 40px;
}

::-webkit-scrollbar{
	width: 10px;
	height: 100%;
	background: #f6f6f6;
}

::-webkit-scrollbar-thumb{
	/* background-color: rgb(65, 156, 200);
	border-radius: 30px; */
	background-color: #12b7f5;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 93, 143, 1) 25%, transparent 25%, transparent 50%, rgba(255, 93, 143, 1) 50%, rgba(255, 93, 143, 1) 75%, transparent 75%, transparent);
	border-radius: 6px;
}

.del{
	text-decoration: line-through;
}
