.card p{
    line-height: 20px;
    color: #333;
    text-indent: 2em;
    padding: 30px;
    font-family: 华文中宋;
    font-weight: bold;
}
.card{
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    background: rgba(168, 207, 56, .4);
    border-radius: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}
.card img{
    width:200px;
    display:block;
}

.juese{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*
.wuxian p{
    line-height: 20px;
    color: #333;
    text-indent: 2em;
    padding: 30px
}
.wuxian{
    width: 300px;
    float: left;
    margin-right: 25px;
    background: rgba(168, 207, 56, .4);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}
.wuxian img{
    width:115px;
    display:block;
}
.ruoshui p{
    line-height: 20px;
    color: #333;
    text-indent: 2em;
    padding: 30px
}
.ruoshui{
    width: 300px;
    float: left;
    margin-right: 25px;
    background: rgba(168, 207, 56, .4);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}
.ruoshui img{
    width:124px;
    display:block;
} 
*/