.mainInfo h1{
    text-align: center;
}
main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.staff{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    margin: 20px;
    padding: 20px;
    background-color: rgb(65, 156, 212);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 22%;
    /* height: 530px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.sub{
    font-size: 16px;
}
.card img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.card h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.card p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.5;
}